@using Microsoft.AspNetCore.Components.Web
@namespace BlazorAppFarms.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>
<body>
    <NavMenu>
        @RenderBody()
    </NavMenu>
 
</body>
</html>
